<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2012 The CyanogenMod Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.cyanogenmod.filemanager"
  android:versionCode="101"
  android:versionName="1.0.1">

  <original-package android:name="com.cyanogenmod.filemanager" />

  <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="17" />

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
  <uses-permission android:name="android.permission.SET_PREFERRED_APPLICATIONS" />
  <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
  <uses-permission android:name="android.permission.NFC"/>
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
  <uses-permission android:name="com.cyanogenmod.filemanager.permissions.READ_THEME"/>

  <application
    android:name="FileManagerApplication"
    android:description="@string/app_description"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:largeHeap="true"
    android:theme="@style/FileManager.Theme.Holo.Light" >

    <meta-data
      android:name="android.app.default_searchable"
      android:value=".activities.NavigationActivity" />

    <provider
      android:name=".providers.RecentSearchesContentProvider"
      android:authorities="com.cyanogenmod.filemanager.providers.recentsearches"
      android:exported="false" />

    <provider
      android:name=".providers.BookmarksContentProvider"
      android:authorities="com.cyanogenmod.filemanager.providers.bookmarks"
      android:exported="false" />

    <activity
      android:name=".activities.NavigationActivity"
      android:label="@string/app_name"
      android:launchMode="singleTop"
      android:uiOptions="none"
      android:windowSoftInputMode="adjustNothing"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable" />
    </activity>

    <activity
      android:name=".activities.BookmarksActivity"
      android:label="@string/bookmarks"
      android:uiOptions="none"
      android:windowSoftInputMode="adjustNothing"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:exported="false">
    </activity>

    <activity
      android:name=".activities.HistoryActivity"
      android:label="@string/history"
      android:uiOptions="none"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:windowSoftInputMode="adjustNothing"
      android:exported="false">
    </activity>

    <activity
      android:name=".activities.SearchActivity"
      android:label="@string/search"
      android:launchMode="singleTop"
      android:uiOptions="none"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:windowSoftInputMode="adjustNothing"
      android:exported="false">
    </activity>

    <activity
      android:name=".activities.PickerActivity"
      android:label="@string/picker"
      android:uiOptions="none"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:theme="@style/FileManager.Theme.Holo.Light.Overlay"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.GET_CONTENT" />
        <category android:name="android.intent.category.OPENABLE" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="*/*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.PICK" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="file" />
        <data android:scheme="folder" />
        <data android:scheme="directory" />
      </intent-filter>
    </activity>

    <activity
      android:name=".activities.preferences.SettingsPreferences"
      android:label="@string/pref"
      android:icon="@drawable/ic_launcher_settings"
      android:exported="false">
      <intent-filter>
         <category android:name="android.intent.category.PREFERENCE" />
      </intent-filter>
    </activity>

    <activity
      android:name=".activities.ShortcutActivity"
      android:label="@string/app_name"
      android:uiOptions="none"
      android:theme="@style/FileManager.Theme.Holo.Light.Overlay"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
      </intent-filter>
    </activity>

    <activity
      android:name=".activities.ChangeLogActivity"
      android:label="@string/app_name"
      android:uiOptions="none"
      android:theme="@style/FileManager.Theme.Holo.Light.Overlay"
      android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
      </intent-filter>
    </activity>

    <activity
      android:name=".activities.EditorActivity"
      android:label="@string/editor"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:icon="@drawable/ic_launcher_editor">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <action android:name="android.intent.action.EDIT" />
        <category android:name="android.intent.category.DEFAULT" />

        <data android:scheme="file" />
        <data android:mimeType="text/*" />
        <data android:mimeType="application/javascript" />
        <data android:mimeType="application/json" />
        <data android:mimeType="application/xhtml+xml" />
        <data android:mimeType="application/xml" />
        <data android:mimeType="application/x-msdownload" />
        <data android:mimeType="application/x-csh" />
        <data android:mimeType="application/x-sh" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <action android:name="android.intent.action.EDIT" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="com.cyanogenmod.filemanager.category.INTERNAL_VIEWER" />
        <category android:name="com.cyanogenmod.filemanager.category.EDITOR" />
      </intent-filter>
    </activity>

    <activity
      android:name=".themes.ThemeActivity"
      android:label="@string/app_name"
      android:permission="com.cyanogenmod.filemanager.permissions.READ_THEME"
      android:icon="@drawable/ic_theme_launcher"
      android:exported="true">
      <intent-filter>
        <action android:name="com.cyanogenmod.filemanager.actions.MAIN_THEME" />
        <category android:name="com.cyanogenmod.filemanager.categories.THEME" />
      </intent-filter>
    </activity>

  </application>

</manifest>
